$icon-font-path: "../fonts/socialist/font/";
//** File name for all font files.
$icon-font-name: "socialist";
//** Element ID within SVG icon file.
$icon-font-svg-id: "socialist";

// Import the fonts
@font-face {
   font-family: 'socialist';
   src: url('#{$icon-font-path}#{$icon-font-name}.eot');
   src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
        url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),
        url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
        url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
        url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
}
[class^="social-"]:before, [class*=" social-"]:before {
     font-family: "socialist";
     font-style: normal;
     font-weight: normal;
     speak: none;

     display: inline-block;
     text-decoration: inherit;
     width: 1em;
     margin-right: .2em;
     text-align: center;
     /* opacity: .8; */

     /* For safety - reset parent styles, that can break glyph codes*/
     font-variant: normal;
     text-transform: none;

     /* fix buttons height, for twitter bootstrap */
     line-height: 1;

     /* Animation center compensation - margins should be symmetric */
     /* remove if not needed */

     /* you can be more comfortable with increased icons size */
     font-size: 120%;

     /* Font smoothing. That was taken from TWBS */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

     /* Uncomment for 3D effect */
     // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

@mixin social ( $code: '\e806', $color: #000 ) {
   font-family: "socialist";
   font-style: normal;
   font-weight: normal;
   speak: none;
   display: inline-block;
   text-decoration: inherit;
   width: 1em;
   text-align: center;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   font-size: 120%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   content: $code;
   color: $color;
}
