// ---------------------------
// OUESTION GROUP
// ---------------------------

// ---------------------------
// – 1 CUSTOM VARIABLES
// ---------------------------

$question-btn-bg-color:     $gray-dark !default;

// ---------------------------
// – 2 BASIC HTML STRUCTURE
// ---------------------------

.questions-group {
   // contains all questions and the <form/> element
   // box-shadow: 0px 1px 12px rgba(0,0,0,0.15);
   @include media-breakpoint-down(xs) {
      margin-left: - map-get($grid-gutter-widths,xs) * .5;
      margin-right: - map-get($grid-gutter-widths,xs) * .5;
      box-shadow: none;
   }

   // QUESTIONS-GROUP-HEADER
   .questions-group-header {
      background-color: $white;
      .group-title {

      }
   }

   // QUESTIONS
   .question-parent {
      // contains the question text (.question-header) and answer options (.radio-group) of a single question.
      > .row {
         > div[class^="col-"],
         > div[class*=" col-"] {
            > .toggle-btn {
               // the toggle-button
            }
            > .question-header {
               // contains the question-text
               > .question-txt {

               }
            }
         }
      }
      > .row + .row {
         > div[class^="col-"],
         > div[class*=" col-"] {

            .radio-group {
               // contains the options (1 - 6) as radio-buttons
            }
         }
      }

      // CURRENTLY OPEN RADIO-GROUP
      &.open {
         > .row + .row {
            position: relative;
            @include gradient-y($gray-darkest, $question-btn-bg-color, 0%, 15%);
            margin-left: 0;
            margin-right: 0;
            > div[class^="col-"],
            > div[class*=" col-"] {

               // contains the options (1 - 6) as radio-buttons
               .radio-group {

               }
            }

            // arrow pointing in opened radio-group
            &:after {
               content: '';
               position: absolute;
               top: 0;
               right: auto;
               left: 5%;
               @include media-breakpoint-down(xl) {
                  @include caret-down(12px);
               }
               @include media-breakpoint-down(lg) {
                  @include caret-down(10px);
               }
               @include media-breakpoint-down(md) {
                  @include caret-down(8px);
               }
               @include media-breakpoint-down(sm) {
                  @include caret-down(6px);
               }
               @include media-breakpoint-down(xs) {
                  @include caret-down(6px);
               }
            }
         }
      }
   }

   // QUESTIONS-GROUP-FOOTER
   .questions-group-footer {
      background-color: $body-bg;
   }
}

// ---------------------------
// – 3 ELEMENT-DETAILS
// ---------------------------

.questions-group {

   // QUESTIONS-GROUP-HEADER
   .questions-group-header {
      .group-title {
         margin-top: 0;
         padding-bottom: 1rem;
      }
   }

   // QUESTIONS-GROUP-BODY
   .question-parent {
      border-top: 1px solid $gray-lighter;
      background-color: $white;
      transition: background 0.35 linear;

      // badge question-no.
      .badge {
         &.badge-primary {
            @include bg-color($gray-lighter,0.75);
         }
      }

      // question-text
      .question-header {
         > .question-txt {
            transition: color 0.15s linear;
            font-family: $font-family-sans-serif;
            color: $gray-light;
            padding-bottom: 0;
            margin-bottom: 0;
         }
         &:hover > .question-txt {
            cursor: pointer;
            color: $gray;
         }
      }

      // question-panel on '.open' or '.hover'
      &.open,
      &.hover {
         @include gradient-y($gray-lightest, $white, 0%, 10%);
         .badge {
            &.badge-primary {
               @include bg-color($brand-primary, 0.75);
            }
         }
         .question-header {
            > .question-txt {
               color: $gray;
            }
         }
      }

      // question-panel on '.done'
      &.done {
         &,
         &.open,
         &.hover {
            .badge {
               &.badge-primary {
                  @include bg-color($brand-primary);
               }
            }
            .question-header {
               > .question-txt {
                  color: $gray;
               }
            }
         }
      }
   }

   // QUESTIONS-GROUP-FOOTER
   .questions-group-footer {
      border-top: 1px solid $gray-lighter;
      @include bg-color($white);
      .btn + .btn {
         margin-left: 1rem;
      }
   }
}

// QUESTIONS ASSETS
.badge {
   display: inline-block;
   font-family: $font-family-condensed;
   font-weight: 400;
   padding: 0.76em 0.5em;
   width: 2rem;
   height: 2rem;
   margin: 0.5em auto;
   border-radius: 1.2rem;

   &.badge-lg {
      width: 2.6rem;
      height: 2.6rem;
      font-size: 110%;
      border-radius: 1.3rem;
   }
   &.badge-xs {
      height: 1.2rem;
      width: 1.2rem;
      padding: .3rem;
      border-radius: .6rem;
      margin: 0.75em auto;
      font-size: 60%;
      font-weight: 600;
      line-height: .9;
      border: 2px solid $gray-light;
      @include bg-color($gray-light);
      color: $white;
   }
}

// flex stuff
.f-item {
   display: flex;
   min-width: 2.25rem;
   padding-left: .35rem;
   padding-right: .35rem;
   &.border-left {
      border-left: 1px solid $gray-lighter;
   }
   &.border-right {
      border-right: 1px solid $gray-lighter;
   }
}

// THE 1 - 6 RADIO-GROUP
.radio-group {
   max-width: 100%;

   @include media-breakpoint-up(sm) {
      max-width: 85%;
      margin: 0 auto;
   }

   @include media-breakpoint-up(xs) {
      &.card-group {
         // border: 1px solid $question-btn-bg-color;

         &.collapse {
            overflow: hidden;
            height: 1px;
            &.show {
               height: auto;
            }
         }

         @if $enable-flex {
            display: flex;
            flex-flow: row wrap;
         } @else {
            display: table;
            width: 100%;
            table-layout: fixed;
         }

         .card {
            background-color: transparent;
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;

            @if $enable-flex {
               flex: 1 0 0;
            } @else {
               display: table-cell;
               vertical-align: top;
            }

            + .card {
               margin-left: 0;
               border-left: 0;
            }

            & {
               > .card-img {
                  opacity: 0.4;
                  transition: opacity 0.2s linear;
                  border-radius: 50%;
               }

               > .card-img-overlay {
                  padding: 30%;

                  > .btn {
                     width: 100%;
                     height: 100%;
                     margin: 0;
                     padding: 0;
                     display: table;
                     text-align: center;
                     border: none;
                     border-radius: 50%;
                     background-color: $question-btn-bg-color;

                     > .label-txt {
                        transition: color 0.2s linear;
                        color: $gray-light;
                        font-size: $font-size-base;
                        transition: color 0.2s linear;
                        width: 100%;
                        font-weight: 600;
                        display: table-cell;
                        vertical-align: middle;
                        line-height: 1;
                     }
                     &:hover {
                        > .label-txt {
                           color: $brand-primary;
                        }
                     }

                     // Bring the "active" button to the front
                     &:focus,
                     &:active,
                     &.active {
                        box-shadow: none;
                        z-index: 2;
                        background-color: $brand-primary;
                        > .label-txt {
                           color: #FFF;
                        }
                     }

                     @include hover {
                       z-index: 2;
                     }

                     input[type="radio"],
                     input[type="checkbox"] {
                        position: absolute;
                        clip: rect(0,0,0,0);
                        pointer-events: none;
                        margin: 0;
                        padding: 0;
                     }
                  }
               }

               &.active-card,
               &:hover {
                  > .card-img {
                     opacity: 1;
                  }
                  > .card-img-overlay > .btn > .label-txt {
                     color: #FFF;
                  }
               }
            }
         }
      }
   }
}
