
.wyg-arrow-left-inverse:before { content: '\e800'; } /* '' */
.wyg-arrow-left:before { content: '\e801'; } /* '' */
.wyg-arrow-right-inverse:before { content: '\e802'; } /* '' */
.wyg-arrow-right:before { content: '\e803'; } /* '' */
.wyg-close-inverse:before { content: '\e804'; } /* '' */
.wyg-close:before { content: '\e805'; } /* '' */
.wyg-diamond-ring:before { content: '\e806'; } /* '' */
.wyg-diamond-side:before { content: '\e807'; } /* '' */
.wyg-diamond-top:before { content: '\e808'; } /* '' */
.wyg-hamburger-inverse:before { content: '\e809'; } /* '' */
.wyg-hamburger:before { content: '\e80a'; } /* '' */
.wyg-logo:before { content: '\e80b'; } /* '' */