/*
 * RESET.CHOSEN
 * reset default chosen.css with custom variables to make custom skinning less annoying and timeconsuming
 */
$chosen-font-family:       $font-family-base !default;

.chosenize {
   box-shadow:    none !important;
   border:        none !important;
   &.form-control {
      padding: 0 !important;
      margin: 0 !important;
      border-image: none !important;
      box-shadow: none !important;
      border: none !important;
      border-radius: 0 !important;
      background-color: transparent !important;
   }
}

/* SIZE
 * --------------------
 * @params: $font-size, $height, $padding-x, $padding-y, line-height, border-radius
 *
/*	-----	*/
@mixin chosen-size($font-size: $font-size-base, $height: $input-height, $padding-x: $input-btn-padding-x, $padding-y: $input-btn-padding-y, $line-height: $input-btn-line-height, $border-radius: $input-border-radius   ) {
   &.chosen-container {
      font-family:   $chosen-font-family;
      font-size:     $font-size;
      line-height:   $line-height;
      & {
         .chosen-drop {
            border-image: none !important;
            box-shadow: none !important;
            border: $border-width solid transparent;
            @include border-bottom-radius($border-radius);
            font-size: ($font-size * .95);
            text-align: left;
            padding: 0;
         }
         .chosen-results {
            margin: 0 0 $padding-y 0;
            padding: $padding-y $padding-y 0 $padding-y;
            border-top: $border-width solid $input-focus-border-color;
         }
         .chosen-results > li {
            padding: $padding-y $padding-x;
            transition: background-color 0.1s linear, border 0.1s linear, color 0.1s linear;
            &.highlighted,
            &.result-selected {
               background-image: none !important;
               &.active-result {
                  background-image: none !important;
               }
            }
            &.active-result {

               &.highlighted {

               }
            }
            &.result-selected {

            }
            &.result-selected {
               &.active-result {

               }
            }
         }
      }
      &.chosen-container-single {
         .chosen-drop {
            border: $border-width solid transparent;
            border-top: none;
         }
         & {
            > .chosen-single {
               box-shadow: none !important;
               background-image: none !important;
               border-radius: $border-radius;
               margin: 0;
               height: auto;
               line-height: $line-height;
               padding: $padding-y $padding-x;
               border: $border-width solid transparent;
               transition: background-color 0.1s linear, border 0.1s linear, color 0.1s linear;
               > div b {
                  background-image: none !important;
                  background: none !important;
                  &:before {
                     transition: color 0.1s linear;
                     @include entypo('\e83b', $input-color, $font-size);
                     position: absolute;
                     margin-top: - ($font-size * .5);
                     top: 50%;
                     right: ($padding-x * 1.5);
                  }
               }
               @media
                  only screen and (min-resolution: 192dpi),
                  only screen and (min-resolution: 2dppx)
               {
                  > div b {
                     background-image: none !important;
                     background: none !important;
                  }
               }
               &:hover,
               &:focus,
               &.active {
                  > div b {
                     background-image: none !important;
                     background: none !important;
                     &:before {
                        @include entypo('\e83b', $input-focus-border-color, $font-size);
                     }
                  }
                  @media
                     only screen and (min-resolution: 192dpi),
                     only screen and (min-resolution: 2dppx)
                  {
                     > div b {
                        background-image: none !important;
                        background: none !important;
                     }
                  }
               }
            }
         }
         // focus / tab-focus
         &.chosen-container-active {
            > .chosen-single {
               &,
               &:hover,
               &:focus,
               &.active {

               }
            }
         }
         &.chosen-with-drop {
            // stuff only visible when dropdown open
            .chosen-drop {

            }
         }
         // focus & open
         &.chosen-container-active {
            &.chosen-with-drop {
               z-index: $zindex-modal;
               > .chosen-single {
                  @include border-bottom-radius(0);
                  > div b {
                     background-image: none !important;
                     background: none !important;
                     &:before {
                        @include entypo('\e846', $input-color, $font-size);
                     }
                  }
                  @media
                     only screen and (min-resolution: 192dpi),
                     only screen and (min-resolution: 2dppx)
                  {
                     > div b {
                        background-image: none !important;
                        background: none !important;
                     }
                  }
               }
               .chosen-drop {

               }
            }
            .chosen-search {
               margin: $padding-y;
               padding: 2px 1px;
               background-image: none !important;
               box-shadow: none !important;
               > input[type="text"] {
                  font-family: $chosen-font-family;
                  padding: ($padding-y * .5) $padding-y;
                  border-image: none !important;
                  background-image: none !important;
                  box-shadow: $input-box-shadow;
                  &:focus {
                     background-image: none !important;
                     box-shadow: $input-box-shadow;
                  }
               }
            }
         }
      }
      // multiselect
      &.chosen-container-multi {
         & {
            padding: 0;
            > .chosen-choices {
               padding: ($padding-y * .5) 0 0 ($padding-y * .5);
               border-radius: $border-radius;
               box-shadow: none !important;
               // box-shadow: $input-box-shadow;
               background-image: none !important;
               > .search-choice {
                  font-size: ($font-size * .9);
                  margin: 0 ($padding-y * .5) ($padding-y * .5) 0;
                  padding: ($padding-y * .5) 1.75rem ($padding-y * .5) $padding-y;
                  border: none;
                  border-radius: ($border-radius * .5);
                  box-shadow: none !important;
                  background-image: none !important;
                  line-height: $line-height;
                  > .search-choice-close {
                     &:before {
                        @include entypo('\e84b', $white, $font-size * .75);
                     }
                     position: absolute;
                     margin-top: - ($font-size * .375);
                     top: 50%;
                     right: $padding-y;
                     background-image: none;
                  }
               }
               > .search-field {
                  margin: 0 ($padding-y * .5) ($padding-y * .5) 0;
                  padding: ($padding-y * .5);
               }
               > .search-field > input[type="text"] {
                  height:        auto;
                  margin:        0;
                  padding-left:  ($padding-y * .5);
                  padding-right: ($padding-y * .5);
                  font-family:    $chosen-font-family;
                  background-image: none;
                  box-shadow: none !important;
               }
            }
         }
         &.chosen-container-active {
            & {
               > .chosen-choices {
                  box-shadow: $input-focus-box-shadow;
               }
            }
            &.chosen-with-drop {
               > .chosen-choices {
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0;
                  border-bottom: none;
                  > .search-field > input[type="text"] {

                  }
               }
            }
            > .chosen-drop {
               > .chosen-results {
                  border-top: none;
                  > .active-result,
                  > .result-selected {
                     margin-bottom: 1px;
                     font-size: ($font-size * .95);
                  }
                  > .result-selected {

                  }
               }
            }
         }
      }
   }
}

/* COLOR-VARIANTE
 * --------------------
 * @params: $color, $focus, $bg, $bg-focus, $border, $border-focus
 *
/*	-----	*/
@mixin chosen-color-variante( $color: $input-color, $focus: $input-focus-color, $bg: $input-bg, $bg-focus: $input-focus-bg, $border: $input-border-color, $border-focus: $input-focus-border-color) {
   &.chosen-container {
      & {
         .chosen-drop {

         }
         .chosen-results {
            border-color: $border-focus;
         }
         .chosen-results > li {
            background-color: rgba($bg-focus, 1);
            &.active-result {
               color: $color;
               &.highlighted {
                  color: $color;
                  background-color: rgba($border-focus, .35);
               }
            }
            &.result-selected {
               background-color: rgba($border-focus, 1);
            }
            &.result-selected {
               &.active-result {
                  color: $white !important;
                  background-color: rgba($border-focus, 1);
               }
            }
         }
      }
      &.chosen-container-single {
         .chosen-drop {
            background-color: $bg;
            border-color: $border-focus;
         }
         & {
            > .chosen-single {
               color: $color;
               background-color: $bg;
               border-color: $border;
               > div b {
                  &:before {
                     color: $color;
                  }
               }
               &:hover,
               &:focus,
               &.active {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $border-focus;
                  > div b {
                     background-image: none !important;
                     background: none !important;
                     &:before {
                        color: $border-focus;
                     }
                  }
               }
            }
         }
         // focus / tab-focus
         &.chosen-container-active {
            > .chosen-single {
               &,
               &:hover,
               &:focus,
               &.active {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $border-focus;
               }
            }
         }
         &.chosen-with-drop {
            .chosen-drop {
               background-color: $bg-focus;
               border-color: $border-focus;
            }
         }
         // focus & open
         &.chosen-container-active {
            &.chosen-with-drop {
               > .chosen-single {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $border-focus;
                  > div b {
                     &:before {
                        color: $border-focus;
                     }
                  }
               }
               .chosen-drop {
                  border-color: $border-focus;
                  border-top: none;
               }
            }
            .chosen-search {
               > input[type="text"] {
                  color: $color;
                  background-color: $bg;
                  &:focus {
                     color: $focus;
                     background-color: $bg-focus;
                     border-color: $border-focus;
                  }
               }
            }
         }
      }

      // multiselect
      &.chosen-container-multi {
         & {
            > .chosen-choices {
               border-color: $border;
               > .search-choice {
                  background-color: $border-focus;
                  border-color: $border-focus;
                  color: $white;
                  > .search-choice-close {
                     &:before {
                        color: $white;
                     }
                  }
               }
               > .search-field {

               }
               > .search-field > input[type="text"] {

               }
            }
         }
         &.chosen-container-active {
            & {
               > .chosen-choices {
                  border-color: $border-focus;
               }
            }
            &.chosen-with-drop {
               > .chosen-choices {
                  border-color: $border-focus;
                  > .search-field > input[type="text"] {

                  }
               }
            }
            > .chosen-drop {
               border-color: $border-focus;
               > .chosen-results {
                  > .active-result,
                  > .result-selected {

                  }
                  > .result-selected {
                     color: $white !important; // override chosen-default which is also !important.
                  }
               }
            }
         }
      }
   }
}
