/*
 * RESET.CHOSEN
 * reset default chosen.css with custom variables to make custom skinning less annoying and timeconsuming
 */
$chosen-font-family:       $font-family-sans-serif !default;

// $chosen-font-size:         $font-size-base !default;

// $chosen-height:            $input-height  !default;
// $chosen-padding-x:         $input-padding-x !default;
// $chosen-padding-y:         $input-padding-y !default;

$chosen-line-height:       $input-line-height !default;

$chosen-color:             $input-color !default;
$chosen-border-color:      $input-border-color !default;
$chosen-bg:                $input-bg !default;

$chosen-box-shadow:        $input-box-shadow !default;
$chosen-box-shadow-focus:  $input-box-shadow-focus !default;

$chosen-border-focus:      $input-border-focus !default;
$chosen-color-focus:       $brand-primary !default;
$chosen-bg-focus:          $input-bg-focus !default;

$chosen-border-width:      $input-btn-border-width !default;
$chosen-border-radius:     $input-border-radius !default;

.chosenize {
   box-shadow:    none !important;
   border:        none !important;
   &.form-control {
      padding: 0 !important;
      margin: 0 !important;
      border-image: none !important;
      box-shadow: none !important;
      border: none !important;
      border-radius: 0 !important;
      background-color: transparent !important;
   }
}

/* SIZE
 * --------------------
 * @params: $font-size, $height, $padding-x, $padding-y
 *
/*	-----	*/
@mixin chosen-size($chosen-font-size: $font-size-base, $chosen-height: $input-height, $chosen-padding-x: $input-padding-x, $chosen-padding-y: $input-padding-y  ) {
   &.chosen-container {
      // font-family:   $chosen-font-family;
      font-family:   inherit;
      font-size:     $chosen-font-size;
      line-height:   $chosen-line-height;
      & {
         .chosen-drop {
            border-image: none !important;
            box-shadow: none !important;
            border: $chosen-border-width solid transparent;
            @include border-bottom-radius($input-border-radius);
            font-size: $chosen-font-size;
            text-align: left;
            padding: 0;
         }
         .chosen-results {
            margin: 0 0 $input-padding-y 0;
            padding: $chosen-padding-y $chosen-padding-y 0 $chosen-padding-y;
            border-top: $chosen-border-width solid transparent;
            border-color: $chosen-border-focus;
         }
         .chosen-results > li {
            padding: $chosen-padding-y;
            background-color: rgba($chosen-bg-focus, 1);
            &.highlighted, &.result-selected {
               background-image: none !important;
               &.active-result {
                  background-image: none !important;
               }
            }
            &.highlighted {
               background-color: rgba($chosen-border-focus, .25);
            }
            &.selected-result {
               color: $white;
               background-color: rgba($chosen-border-focus, 1);
            }
            &.highlighted, &.selected-result {
               &.active-result {
                  color: $white;
                  background-color: rgba($chosen-border-focus, 1);
               }
            }
         }
      }
      &.chosen-container-single {
         .chosen-drop {
            border: $chosen-border-width solid transparent;
            border-top: none;
            background-color: $chosen-bg;
            border-color: $chosen-border-color;
            .chosen-results > .active-result {
               transition: background-color 0.1s linear, border 0.1s linear, color 0.1s linear;
               &.result-selected, &.highlighted {
                  color: $chosen-color;
               }
               &.highlighted {
                  background-color: rgba($chosen-border-focus, .25);
               }
               &.result-selected {
                  background-color: rgba($chosen-border-focus, 1);
               }
            }
         }
         & {
            > .chosen-single {
               box-shadow: none !important;
               background-image: none !important;
               border-radius: $chosen-border-radius;
               margin: 0;
               height: auto;
               line-height: $chosen-line-height;
               padding: $chosen-padding-y $chosen-padding-x;
               color: $input-color;
               border: $chosen-border-width solid transparent;
               background-color: $chosen-bg;
               border-color: $chosen-border-color;
               transition: background-color 0.2s linear, border 0.2s linear, color 0.2s linear;
               > div b {
                  background-image: none !important;
                  background: none !important;
                  &:before {
                     content: '';
                     position: absolute;

                     // @include icon("arrow-down");
                     border: none;
                     @include caret-down(($chosen-font-size * .35), $chosen-color);

                     top:   50%;
                     right: ($chosen-padding-x * 1.5);
                  }
               }
               @media
                  only screen and (min-resolution: 192dpi),
                  only screen and (min-resolution: 2dppx)
               {
                  > div b {
                     background-image: none !important;
                     background: none !important;
                  }
               }
               &:hover,
               &:focus,
               &.active {
                  color: $chosen-color-focus;
                  background-color: $chosen-bg-focus;
                  border-color: $chosen-border-focus;
                  > div b {
                     background-image: none !important;
                     background: none !important;
                     &:before {
                        // @include icon("arrow-down");
                        border: none;
                        @include caret-down(($chosen-font-size * .35), $chosen-color-focus);
                     }
                  }
                  @media
                     only screen and (min-resolution: 192dpi),
                     only screen and (min-resolution: 2dppx)
                  {
                     > div b {
                        background-image: none !important;
                        background: none !important;
                     }
                  }
               }
            }
         }
         // focus / tab-focus
         &.chosen-container-active {
            > .chosen-single {
               &,
               &:hover,
               &:focus,
               &.active {
                  color: $chosen-color-focus;
                  background-color: $chosen-bg-focus;
                  border-color: $chosen-border-focus;
               }
            }
         }
         &.chosen-with-drop {
            // stuff only visible when dropdown open
            .chosen-drop {
               background-color: $chosen-bg-focus;
               border-color: $chosen-border-focus;
               .chosen-results > .active-result {
                  &.result-selected, &.highlighted {
                     color: $chosen-color-focus;
                  }
                  &.highlighted {
                     background-color: rgba($chosen-border-focus, .25);
                  }
                  &.result-selected {
                     color: $white;
                     background-color: rgba($chosen-border-focus, 1);
                  }
                  &, &.highlighted, &.result-selected {
                     &.active {
                        color: $white;
                        background-color: rgba($chosen-border-focus, 1);
                     }
                  }
               }
            }
         }
         // focus & open
         &.chosen-container-active {
            &.chosen-with-drop {
               z-index: $zindex-modal;
               > .chosen-single {
                  color: $chosen-color-focus;
                  background-color: $chosen-bg-focus;
                  border-color: $chosen-border-focus;
                  @include border-bottom-radius(0);
                  > div b {
                     background-image: none !important;
                     background: none !important;
                     &:before {
                        // @include icon("arrow-up");
                        border: none;
                        @include caret-up(($chosen-font-size * .35), $chosen-color-focus);
                     }
                  }
                  @media
                     only screen and (min-resolution: 192dpi),
                     only screen and (min-resolution: 2dppx)
                  {
                     > div b {
                        background-image: none !important;
                        background: none !important;
                     }
                  }
               }
               .chosen-drop {
                  border-color: $chosen-border-focus;
               }
            }

            .chosen-search {
               margin: $chosen-padding-y;
               padding: 0px;
               background-color: $chosen-bg;
               border: $chosen-border-width solid $chosen-border-color;
               > input {
                  color: $chosen-color;
                  padding: ($chosen-padding-y * .25) $chosen-padding-y;
                  border: none;
                  box-shadow: $chosen-box-shadow;
                  &:focus {
                     color: $chosen-color-focus;
                     background-color: $chosen-bg-focus;
                     box-shadow: $chosen-box-shadow-focus;
                  }
               }
            }
         }
      }
   }
}

/* COLOR-VARIANTE
 * --------------------
 * @params: $color, $focus, $bg, $bg-focus
 *
/*	-----	*/
@mixin chosen-color-variante( $color: $chosen-color, $focus: $chosen-color-focus, $bg: $chosen-bg, $bg-focus: $chosen-bg-focus) {
   &.chosen-container {
      & {
         .chosen-results {
            border-color: $focus;
         }
         .chosen-results > li {
            background-color: rgba($bg-focus, 1);

            &.highlighted {
               background-color: rgba($focus, .25);
            }
            &.selected-result {
               background-color: rgba($focus, 1);
            }
            &.highlighted, &.selected-result {
               &.active-result {
                  background-color: rgba($focus, 1);
               }
            }
         }
      }
      &.chosen-container-single {
         .chosen-drop {
            background-color: $bg;
            border-color: $color;
            .chosen-results > .active-result {
               &.result-selected, &.highlighted {
                  color: $color;
               }
               &.highlighted {
                  background-color: rgba($focus, .25);
               }
               &.result-selected {
                  background-color: rgba($focus, 1);
               }
            }
         }
         & {
            > .chosen-single {
               color: $color;
               background-color: $bg;
               border-color: $color;
               > div b {
                  &:before {
                     border-color: transparent;
                     border-top-color: $color;
                     // border-top-color: transparent;
                     // @include caret-down($caret-width, $color);
                  }
               }
               &:hover,
               &:focus,
               &.active {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $focus;
                  > div b {
                     &:before {
                        border-color: transparent;
                        border-top-color: $focus;
                        // @include caret-down($caret-width, $focus);
                     }
                  }
               }
            }
         }
         // focus / tab-focus
         &.chosen-container-active {
            > .chosen-single {
               &,
               &:hover,
               &:focus,
               &.active {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $focus;
               }
            }
         }
         &.chosen-with-drop {
            .chosen-drop {
               background-color: $bg-focus;
               border-color: $focus;
               .chosen-results > .active-result {
                  &.result-selected, &.highlighted {
                     color: $focus;
                  }
                  &.highlighted {
                     background-color: rgba($focus, .25);
                  }
                  &.result-selected {
                     color: $white;
                     background-color: rgba($focus, 1);
                  }
                  &, &.highlighted, &.result-selected {
                     &.active {
                        color: $white;
                        background-color: rgba($focus, 1);
                     }
                  }
               }
            }
         }
         // focus & open
         &.chosen-container-active {
            &.chosen-with-drop {
               > .chosen-single {
                  color: $focus;
                  background-color: $bg-focus;
                  border-color: $focus;
                  @include border-bottom-radius(0);
                  > div b {
                     &:before {
                        border-color: transparent;
                        border-bottom-color: $focus !important;
                        // @include caret-up($caret-width, $focus);
                     }
                  }
               }
               .chosen-drop {
                  border-color: $focus;
               }
            }

            .chosen-search {
               background-color: $bg;
               border-color: $color;
               > input {
                  color: $color;
                  &:focus {
                     color: $focus;
                     background-color: $bg-focus;
                  }
               }
            }
         }
      }
   }
}
