@font-face {
  font-family: 'wygelstyn';
  src: url('../font/wygelstyn.eot?57392569');
  src: url('../font/wygelstyn.eot?57392569#iefix') format('embedded-opentype'),
       url('../font/wygelstyn.woff2?57392569') format('woff2'),
       url('../font/wygelstyn.woff?57392569') format('woff'),
       url('../font/wygelstyn.ttf?57392569') format('truetype'),
       url('../font/wygelstyn.svg?57392569#wygelstyn') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wygelstyn';
    src: url('../font/wygelstyn.svg?57392569#wygelstyn') format('svg');
  }
}
*/
 
 [class^="wyg-"]:before, [class*=" wyg-"]:before {
  font-family: "wygelstyn";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.wyg-arrow-left-inverse:before { content: '\e800'; } /* '' */
.wyg-arrow-left:before { content: '\e801'; } /* '' */
.wyg-arrow-right-inverse:before { content: '\e802'; } /* '' */
.wyg-arrow-right:before { content: '\e803'; } /* '' */
.wyg-close-inverse:before { content: '\e804'; } /* '' */
.wyg-close:before { content: '\e805'; } /* '' */
.wyg-diamond-ring:before { content: '\e806'; } /* '' */
.wyg-diamond-side:before { content: '\e807'; } /* '' */
.wyg-diamond-top:before { content: '\e808'; } /* '' */
.wyg-hamburger-inverse:before { content: '\e809'; } /* '' */
.wyg-hamburger:before { content: '\e80a'; } /* '' */
.wyg-logo:before { content: '\e80b'; } /* '' */
.wyg-pupsi:before { content: '\e80c'; } /* '' */
.wyg-shopping-cart:before { content: '\e80d'; } /* '' */
.wyg-arrow-down-inverse:before { content: '\e80e'; } /* '' */
.wyg-arrow-down:before { content: '\e80f'; } /* '' */
.wyg-arrow-up-inverse:before { content: '\e810'; } /* '' */
.wyg-arrow-up:before { content: '\e811'; } /* '' */